<div class="header">
  <div class="container">
    <div class="navbar">
      <div class="logo">
        <a href="index.html"><img src="assets\images\logo.png" width="125px"></a>
      </div>
      <nav>
        <ul id="MenuItems">
          <li><a routerLink="/">Home</a></li>
          <li><a routerLink="/product">Products</a></li>
          <li><a routerLink="/about">About</a></li>
          <li><a routerLink="/contact">Contact</a></li>
          <li><a routerLink="/acount">Account</a></li>
        </ul>
      </nav>
      <a routerLink="/add-to-cart"><img src="assets\images\cart.png" width="30px" height="30px"></a>
      <img src="assets\images\menu.png" class="menu-icon" onclick="menutoggle()">
    </div>
  </div>
</div>