<!-- Featured Profucts -->
<div class="small-container">
  <div class="row row-2">
    <h2>All Products</h2>
    <select>
      <option>Default Shorting</option>
      <option>Short by price</option>
      <option>Short by popularity</option>
      <option>Short by rating</option>
      <option>Short by sale</option>
    </select>
  </div>

  <div class="row">
    <div class="col-4">
      <a routerLink="/product-details"><img src="assets\images\product-1.jpg"></a>
      <a href="product-details.html">
        <h4>Red Printed T-shirt</h4>
      </a>
      <div class="rating">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star-o"></i>
      </div>
      <p>$50.00</p>
    </div>
    <div class="col-4">
      <img src="assets\images\product-2.jpg">
      <h4>Red Printed T-shirt</h4>
      <div class="rating">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star-o"></i>
      </div>
      <p>$50.00</p>
    </div>
    <div class="col-4">
      <img src="assets\images\product-3.jpg">
      <h4>Red Printed T-shirt</h4>
      <div class="rating">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star-half-o"></i>
      </div>
      <p>$50.00</p>
    </div>
    <div class="col-4">
      <img src="assets\images\product-4.jpg">
      <h4>Red Printed T-shirt</h4>
      <div class="rating">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star-o"></i>
      </div>
      <p>$50.00</p>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <img src="assets\images\product-1.jpg">
      <h4>Red Printed T-shirt</h4>
      <div class="rating">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star-o"></i>
      </div>
      <p>$50.00</p>
    </div>
    <div class="col-4">
      <img src="assets\images\product-2.jpg">
      <h4>Red Printed T-shirt</h4>
      <div class="rating">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star-o"></i>
      </div>
      <p>$50.00</p>
    </div>
    <div class="col-4">
      <img src="assets\images\product-3.jpg">
      <h4>Red Printed T-shirt</h4>
      <div class="rating">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star-half-o"></i>
      </div>
      <p>$50.00</p>
    </div>
    <div class="col-4">
      <img src="assets\images\product-4.jpg">
      <h4>Red Printed T-shirt</h4>
      <div class="rating">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star-o"></i>
      </div>
      <p>$50.00</p>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <img src="assets\images\product-1.jpg">
      <h4>Red Printed T-shirt</h4>
      <div class="rating">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star-o"></i>
      </div>
      <p>$50.00</p>
    </div>
    <div class="col-4">
      <img src="assets\images\product-2.jpg">
      <h4>Red Printed T-shirt</h4>
      <div class="rating">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star-o"></i>
      </div>
      <p>$50.00</p>
    </div>
    <div class="col-4">
      <img src="assets\images\product-3.jpg">
      <h4>Red Printed T-shirt</h4>
      <div class="rating">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star-half-o"></i>
      </div>
      <p>$50.00</p>
    </div>
    <div class="col-4">
      <img src="assets\images\product-4.jpg">
      <h4>Red Printed T-shirt</h4>
      <div class="rating">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star-o"></i>
      </div>
      <p>$50.00</p>
    </div>
  </div>

  <div class="page-btn">
    <span>1</span>
    <span>2</span>
    <span>3</span>
    <span>4</span>
    <span>&#8594;</span>
  </div>
</div>