<div class="account-page">
	<div class="container">
		<div class="row">
			<div class="col-2">
				<img src="assets\images\image1.png" width="100%">
			</div>
			<div class="col-2">
				<div class="form-container">
					<div class="form-btn">
						<span (click)="login()">Login</span>
						<span (click)="register()">Register</span>
						<hr id="Indicator">
						<form id="LoginForm">
							<input type="text" placeholder="Username">
							<input type="password" placeholder="Password">
							<button type="submit" class="btn">Login</button>
							<a href="">Forgot password</a>
						</form>
							<form id="RegForm">
							<input type="text" placeholder="Username">
							<input type="email" placeholder="Email">
							<input type="password" placeholder="Password">
							<button type="submit" class="btn">Registration</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>